@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* ------------------------ Resets ------------------------ */
.webinar-card-control-container * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.webinar-card-container * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* --------------------------------------------------------- */
/* ========================================================= */
/* -------------------- Utility Classes -------------------- */
body, html {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f2f7f9;
}

.hidden {
  display: none;
}
/* ---------------------------------------------------------- */
/* ========================================================== */
/* ------------- Webinar cards controls/switch -------------- */
.webinar-card-control-container {
  font-family: 'Roboto';
  font-weight: 700;
  max-width: 1260px;
  margin: 5rem auto;
}

.webinar-card-control-container .webinar-card-controls {
  min-width: 70%;
}

.webinar-card-control-container ul.webinar-card-controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5%;
  align-items: center;
  justify-content: center;
}

.webinar-card-control-container ul.webinar-card-controls li {
  list-style: none;
  padding: 0 10px;
  border-bottom: 3px solid transparent;
  transition: all 0.1s ease-out;
}

.webinar-card-control-container ul.webinar-card-controls li:hover {
  color: #006293;
  border-bottom: 3px solid #006293;
  cursor: pointer;
}

.webinar-card-control-container ul.webinar-card-controls li.active {
  color: #006293;
  border-bottom: 3px solid #006293;
}
/* ---------------------------------------------------------- */
/* ========================================================== */
/* ------------- Card container and Webinar card ------------ */
.webinar-card-container {
  max-width: 1260px;
  margin: 5rem auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5%;
  align-items: center;
  justify-content: center;
}

.webinar-card {
  position: relative;
  width: 315px;
  height: 450px;
  margin: 2rem 0;
  border-radius: 4px;
  box-shadow: 10px 10px 14px 1px rgba(00,00,00,0.2);
}
/* ---------------------------------------------------------- */
/* ========================================================== */
/* ---------------------- Card Styles ----------------------- */

/* ---------- Header ---------- */
.webinar-card-header {
  width: 100%;
  height: 50px;
  border-radius: 4px 4px 0px 0px;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: 900;
}

.business-central {
  background-color: #008290;
}

.finance-and-operations {
  background-color: #006698;
}

/* ---------- Content ---------- */
.webinar-card-content {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.webinar-card-content h4 {
  font-size: 14px;
  font-weight: 300;
}

.webinar-card-content h2 {
  margin: 10px 0;
  font-size: 18px;
}

.webinar-card-content .description {
  display: none;
}

.webinar-card-content .description p {
  font-size: 14px;
}

.webinar-card-content ul {
  list-style: none;
}

.webinar-card-content ul li {
  display: flex;
  margin: 10px 0px;
}

.webinar-card-content ul li img {
  width: 20px;
  margin-right: 10px;
}

.webinar-card-content ul li p {
  display: inline-block;
  font-size: 14px;
}


/* -------------Link button------------- */
.webinar-card-content a {
  position: absolute;
  font-weight: 700;
  left: 30px;
  bottom: 30px;
  width: fit-content;
  color: #001F54;
  text-decoration: none;
  transition: all 0.1s ease-out;
}

.webinar-card-content a:hover {
  border-bottom: 3px solid #001F54;
}

/* Media queries for 376px */

@media only screen and (max-width: 429px) {

  .webinar-card-control-container {
    width: 80%;
    margin: 3rem auto;
  }
  .webinar-card-control-container ul.webinar-card-controls {
    flex-direction: column;
    align-items: baseline;
  }

  .webinar-card-container {
    margin: 1rem auto;
  }
}

@media only screen and (max-width: 376px) {

  .webinar-card-control-container {
    width: 90%;
    margin: 3rem auto 0rem auto;
  }
  .webinar-card-control-container ul.webinar-card-controls {
    flex-direction: column;
    align-items: baseline;
  }

  .webinar-card-container {
    margin: 1rem auto;
  }
}

/* -------------The Calendar------------- */

.quick-calendar-info-container * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.quick-calendar-info-container {
  max-width: 1260px;
  margin: 5rem auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5%;
  /* align-items: center; */
  justify-content: center;
}

.calendar-box {
  width: 315px;
  /* box-shadow: 10px 10px 14px 1px rgba(00,00,00,0.2); */
  border-radius: 10px;
  background: rgba(42, 42, 42, .8);
  color: white;
}

.weekdays {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.weekdays .weekday {
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  width: 45px;
  height: 40px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* .weekdays .weekday:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.weekdays .weekday:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
} */

.monthdays {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.monthdays .monthday {
  font-size: 12px;
  width: 45px;
  height: 45px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  transition: all 0.1s ease-in;
}

.monthdays .monthday:hover {
  background: rgba(48, 48, 48, .5);
  cursor: pointer;
}

/* .active {
  background-color: #8BCAF0;
} */

.emptyCell {
  width: 45px;
  height: 45px;
  display: flex;
  border-radius: 5px;
}

.currentDate {
  background-color: #8BCAF0;
  color: black;
}

.manual-switches {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 50px;
  padding: 0px 5px;
  background: rgb(55, 55, 55);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.month-year-info {
  font-size: 12px;
  font-weight: 500;
  padding: 5px;
}

button.button-previous, button.button-next {
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px 10px;
  transition: color 0.1s ease-in;
}

button.button-previous:hover, button.button-next:hover {
  color: #8BCAF0;
}

/* -------------Quick information------------- */

.quick-event-info {
  width: 735px;
  height: 100%;
  /* box-shadow: 10px 10px 14px 1px rgba(00,00,00,0.2); */
}

.event-info-card {
  width: 100%;
  color: white;
  padding: 1rem;
  border-radius: 10px;
}