@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* ------------------------ Resets ------------------------ */
.webinar-card-control-container *, .webinar-card-container * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* --------------------------------------------------------- */
/* ========================================================= */
/* -------------------- Utility Classes -------------------- */
body, html {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f2f7f9;
}

.hidden {
  display: none;
}

.business-central-border {
  border: 3px solid #008290;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.finance-and-operations-border {
  border: 3px solid #006698;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* ---------------------------------------------------------- */
/* ========================================================== */
/* ------------- Webinar cards controls/switch -------------- */
.webinar-card-control-container {
  font-family: 'Roboto';
  font-weight: 700;
  max-width: 1260px;
  margin: 5rem auto;
}

.webinar-card-control-container .webinar-card-controls {
  min-width: 70%;
}

.webinar-card-control-container ul.webinar-card-controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5%;
  align-items: center;
  justify-content: center;
}

.webinar-card-control-container ul.webinar-card-controls li {
  list-style: none;
  padding: 0 10px;
  border-bottom: 3px solid transparent;
  transition: all 0.1s ease-out;
}

.webinar-card-control-container ul.webinar-card-controls li:hover {
  color: #006293;
  border-bottom: 3px solid #006293;
  cursor: pointer;
}

.webinar-card-control-container ul.webinar-card-controls li.active {
  color: #006293;
  border-bottom: 3px solid #006293;
}
/* ---------------------------------------------------------- */
/* ========================================================== */
/* ------------- Card container and Webinar card ------------ */
.webinar-card-container {
  max-width: 1260px;
  margin: 2rem auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5%;
  align-items: center;
  justify-content: center;
}

.webinar-card {
  position: relative;
  width: 315px;
  height: 450px;
  margin: 2rem 0;
  border-radius: 4px;
  /* box-shadow: 10px 10px 14px 1px rgba(00,00,00,0.2); */
  box-shadow: 2px 2px 8px 1px rgba(00,00,00,0.2);
}
/* ---------------------------------------------------------- */
/* ========================================================== */
/* ---------------------- Card Styles ----------------------- */

/* ---------- Header ---------- */
.webinar-card-header {
  width: 100%;
  height: 50px;
  border-radius: 4px 4px 0px 0px;
  color: white;
  font-weight: 900;
  position: relative;
}

.webinar-card-header span {
  display: inline-block;
  margin: auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.business-central {
  background-color: #008290;
}

.finance-and-operations {
  background-color: #006698;
}

/* ---------- Content ---------- */
.webinar-card-content {
  width: 100%;
  padding: 30px;
  display: block;
}

.webinar-card-content h4 {
  font-size: 14px;
  font-weight: 300;
}

.webinar-card-content h2 {
  margin: 10px 0;
  font-size: 18px;
}

.webinar-card-content .description {
  display: none;
}

.webinar-card-content .description p {
  font-size: 14px;
}

.webinar-card-content ul {
  list-style: none;
}

.webinar-card-content ul li {
  display: block;
  margin: 10px 0px;
  position: relative;
}

.webinar-card-content ul li img {
  width: 20px;
  margin-right: 10px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.webinar-card-content ul li p {
  display: block;
  font-size: 14px;
  margin-left: 25px;
}


/* -------------Link button------------- */
.webinar-card-content a {
  position: absolute;
  font-weight: 700;
  left: 30px;
  bottom: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #001F54;
  text-decoration: none;
  transition: all 0.1s ease-out;
}

.webinar-card-content a:hover {
  border-bottom: 3px solid #001F54;
}

/* Media queries for 376px */

@media only screen and (max-width: 429px) {

  .webinar-card-control-container {
    width: 80%;
    margin: 3rem auto;
  }
  .webinar-card-control-container ul.webinar-card-controls {
    flex-direction: column;
    align-items: baseline;
  }

  .webinar-card-container {
    margin: 1rem auto;
  }
}

@media only screen and (max-width: 376px) {

  .webinar-card-control-container {
    width: 90%;
    margin: 3rem auto 0rem auto;
  }
  .webinar-card-control-container ul.webinar-card-controls {
    flex-direction: column;
    align-items: baseline;
  }

  .webinar-card-container {
    margin: 1rem auto;
  }
}

/* -------------The Calendar------------- */

.quick-calendar-info-container * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.quick-calendar-info-container {
  max-width: 1260px;
  margin: 5rem auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5%;
  /* align-items: center; */
  justify-content: space-around;
}

.calendar-box {
  width: 385px;
  height: max-content;
  /* box-shadow: 10px 10px 14px 1px rgba(00,00,00,0.2); */
  border-radius: 10px;
  background: rgba(42, 42, 42, .8);
  color: white;
}

.weekdays {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.weekdays .weekday {
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  width: 45px;
  height: 40px;
  margin: 0 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* .weekdays .weekday:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.weekdays .weekday:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
} */

.monthdays {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.monthdays .monthday {
  font-size: 12px;
  width: 45px;
  height: 45px;
  margin: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  transition: all 0.1s ease-in;
}

.monthdays .monthday:hover {
  background: rgba(48, 48, 48, .5);
  cursor: pointer;
}

/* .active {
  background-color: #8BCAF0;
} */

.emptyCell {
  width: 45px;
  height: 45px;
  margin: 5px;
  display: flex;
  border-radius: 5px;
}

.currentDate {
  background-color: #8BCAF0;
  color: black;
}

.manual-switches {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 50px;
  padding: 0px 5px;
  background: rgb(55, 55, 55);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.month-year-info {
  font-size: 12px;
  font-weight: 500;
  padding: 5px;
}

button.button-previous, button.button-next {
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px 10px;
  transition: color 0.1s ease-in;
}

button.button-previous:hover, button.button-next:hover {
  color: #8BCAF0;
}

/* -------------Quick information------------- */
.quick-event-info {
  max-height: 365px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
}

.quick-event-info::-webkit-scrollbar {
  width: 6px;
  background-color: #aaa;
  border-radius: 10px;
}

.quick-event-info::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.side-info-card {
  position: relative;
  font-family: 'Roboto';
  max-width: 500px;
  border-radius: 10px;
  transition: all 0.2s ease-in;
  animation:  opacity-apperance 0.4s ease-in;
  margin-bottom: 10px;
  margin-right: 15px;
}

.side-info-card:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 4px;
}

.side-info-card-header {
  position: relative;
  width: 100%;
  height: 2rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.side-info-card-header > h4 {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.side-info-card-content {
  padding: 1rem;
}

.side-info-card-content > h5 {
  font-size: 1rem;
}

.registration-link {
  width: 27px;
  height: 27px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

a.registration-link > img {
  border-radius: 50%;
  transition: all 0.2s ease-in;
}
a.registration-link > img:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 4px;
  transform: translateY(-2px);
}

@keyframes opacity-apperance {
  0% {
    transform: translateX(300px);
    opacity: 0;
  }

  25% {
    transform: translateX(225px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* -------------Media Queries------------- */
@media screen and (max-width: 1025px) {
  .webinar-card {
    
  }
  .quick-calendar-info-container {
    margin: 2rem auto;
  }

  .calendar-box {
    display: none;
  }

  .quick-event-info {
    max-height: fit-content;
    overflow: hidden;
  }

  .side-info-card {
    width: 90%;
    margin: 10px auto;
  }
}